{% extends 'base.html' %}

{% block title %}
  Todo Lists
{% endblock title %}
{% block content %}
  <header>
  </header>
  <main>
    <div>
      <h1>{{ todo_list.name }}</h1>
      <p>
        <a href="{% url 'edit_list' id=todo_list.id %}">Edit</a>
      </p>
      <p>
        <a href="{% url 'delete_list' id=todo_list.id %}">Delete</a>
      </p>
      <h2>Tasks</h2>
      <table>
        <thead>
          <tr>
            <th>Task</th>
            <th>Due date</th>
          </tr>
        </thead>
        <tbody>
          {% for todoitem in todo_list.items.all %}
            <tr>
              <td>
                <a href="{% url 'edit_item' id=todo_list.id %}">{{ todoitem.task }}
                </td>
                <td>{{ todoitem.due_date }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  {% endblock content %}
