{% extends 'base.html' %}

{% block title %}
  Todo Lists
{% endblock title %}
{% block content %}
  <header>
  </header>
  <main>
    <div>
      <h1>My Lists</h1>
      <p>
        <a href="{% url 'create_list' %}">Create a new list</a>
      </p>
      <p>
        <a href="{% url 'create_item' %}">Create a new item</a>
      </p>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Number of Items</th>
          </tr>
        </thead>
        <tbody>
          {% for todo_lists in todo_lists %}
            <div>
              <tr>
                <td>
                  <a href="{% url 'show_todo_list' todo_lists.id %}">{{ todo_lists.name }}</a>
                </td>
                <td>{{ todo_lists.items.all|length }}</td>
              </tr>
            </div>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </main>
{% endblock content %}
