{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static "css/todos.css" %}">
    <title>
      {% block title %}
      {% endblock title %}
    </title>
  </head>
  <body>
    {% block content %}
    {% endblock content %}
    <footer>
    </footer>
  </body>
</html>
